<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>CalcApp</display-name>

	<servlet>
		<servlet-name>LogsServlet</servlet-name>
		<servlet-class>com.calcapp.controller.LogsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogsServlet</servlet-name>
		<url-pattern>/logs</url-pattern>
		<url-pattern>/register</url-pattern>
		<url-pattern>/login</url-pattern>
		<url-pattern>/recoverPwd</url-pattern>
		<url-pattern>/userCRUD</url-pattern>



	</servlet-mapping>

</web-app>