@charset "UTF-8";

body {
	background: lightblue;
	font: 12px, Garamond; 
	color: white;
	text-align: center;
}

.appName {
	display: inline;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 75px;
	color: black;
	border: 2px solid black;
}

.register {
	font-size:25px;
	background-color: lightblue;
	text-align: center;
	margin-top: 25px;
}

.login {
	font-size:25px;
	background-color: lightblue;
	text-align: center;
}

.button {
	background-color: lightgreen;
	font-size: 20px;
}

.loginHeader {
	display: inline;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 60px;
	color: black;
}

.userPass {
	margin-top: 15px;
	color: black;
}

input[type=submit] {
	background-color: Green;
	font-size: 20px;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;

}

#page-top {
	color:black;
}

.table {
	background-color: lightpink;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.calc, 
.calc td, 
.calc th {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#cancel {
	background-color: maroon;
	font-size: 20px;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}